.checkout-left-container .fw2 {
  font-weight: 200;
}

.checkout-left-container .fs1-5 {
  font-size: 1.5em;
}

.checkout-left-container .fs1-4 {
  font-size: 1.4em;
}

.checkout-left-container .fs1-2 {
  font-size: 1.2em;
}

.checkout-left-container .is-checkradio[type="radio"] + label {
  font-size: 1.1em;
}

.checkout-left-container .fs1 {
  font-size: 1em;
}

.checkout-left-container .fs2 {
  font-size: 2em;
  /* line-height: 56px; */
}

.checkout-left-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.checkout-left-container .border-bottom-solid {
  border-bottom: 1px solid #f0f0f0;
}

.checkout-left-container .border-top-dashed {
  border-top: 1px dashed #e0e0e0;
}

.checkout-left-container .float-right {
  float: right;
}

.checkout-left-container .m0 {
  margin: 0;
}

.checkout-left-container .mt0-5 {
  margin-top: 0.5em;
}
