.detail-slider-container .hero .carousel {
  height: 400px;
  /* object-fit: cover */
  background-repeat: no-repeat;
  background-size: auto;
}

.detail-slider-container .hero .slick-list {
  height: 400px;
}

.detail-slider-container {
  position: relative;
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.top-left {
  position: absolute;
  top: 1em;
  left: 85%;
  z-index: 2;
}
