.detail-cart-container {
  position: sticky;
  top: 0;
}

.detail-cart-container .cart-button {
  background-color: #ff3860;
  color: white;
  opacity: 1;
  width: 17.2em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.detail-cart-container .align {
  text-align: center;
}

.detail-cart-container .ff {
  font-family: "Quicksand", sans-serif;
}

.detail-cart-container .ui.segment {
  border-top: 4px solid #ff3860;
}

.detail-cart-container .fw7 {
  font-weight: 700;
}

.detail-cart-container .f24 {
  font-size: 24px;
}

.detail-cart-container .sfc3 {
  color: #00d1b2;
}
