.detail-cart-controller .cart-button {
  background-color: #ff5a5f;
  color: white;
  opacity: 1;
  width: 17.2em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.detail-cart-controller .align {
  text-align: center;
}

.detail-cart-controller .ff {
  font-family: "Quicksand", sans-serif;
}

.detail-cart-controller .ui.segment {
  border-top: 4px solid #ff5a5f;
}

.detail-cart-controller .fw7 {
  font-weight: 700;
}

.detail-cart-controller .f24 {
  font-size: 24px;
}
