.hero .carousel {
  background-size: cover;
  /* object-fit: cover; */
}

.hero .slick-list {
  height: 50vh;
}

.detail-slider-container {
  position: relative;
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.top-left {
  position: absolute;
  top: 1em;
  left: 80em;
  z-index: 2;
}
