.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.header-name {
  background: transparent;
  padding: 0.5em;
  font-size: 1.2em;
  color: black;
}

/* .discover {
  margin: 1em;
  cursor: pointer;
} */

.slick-slide {
  width: 0px;
}

.slick-active {
  width: 0px;
}

.discover-header {
  color: rgb(39, 37, 37);
  font-size: 1.5em;
}

.discover-header-container {
  margin-bottom: 1em;
}
.discover-container .underscore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(39, 37, 37)),
    to(#dee5ef)
  );
  margin-top: 0.5em;
  content: "";
  height: 0.1em;
  display: block;
  box-sizing: border-box;
  width: 5em;
}

.discover-container .slick-track div {
  width: 200px;
}

/* .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  color: black;
  font-weight: bold;
  top: 70%; 
  text-align: center;
  width: 60%; 
} */
