.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.slick-slide {
  width: 0px;
}

.slick-active {
  width: 0px;
}

.discover-container .discover-header {
  color: black;
  font-size: 28px;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}

.discover-container .discover-header-container {
  margin-bottom: 1em;
}
.discover-container .underscore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(39, 37, 37)),
    to(#dee5ef)
  );
  margin-top: 0.5em;
  content: "";
  height: 1px;
  display: block;
  box-sizing: border-box;
  width: 90px;
}

.discover-container .slick-track div {
  width: 200px;
}

.discover-container .discover-slider {
  cursor: pointer;
}
