.empty-message-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.empty-message-container .fw2 {
  font-weight: 200;
}

.empty-message-container .align-centre {
  text-align: center;
}

.empty-message-container .letter-spacing-2px {
  letter-spacing: 2px;
}
