.explore-container {
  background-image: url("https://img.traveltriangle.com/public-product/homepage_illustrations/hero_general.gif?tr=w-1000,h-800");
  overflow: hidden;
  object-fit: cover;
  background-repeat: repeat space;
}
.explore-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.explore-container .explore-title {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.0175rem;
}

.explore-container .fw2 {
  font-weight: 200;
}

.explore-container .mt1 {
  margin-top: 1em;
}

.explore-container .button-previous {
  opacity: 1;
  width: 8em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-left: 12em;
}

.explore-container .button-previous-disabled {
  background-color: #e8c2c9;
  opacity: 1;
  width: 8em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-left: 12em;
  pointer-events: none;
}

.explore-container .button-previous-disabled:hover {
  background-color: #e8c2c9;
}

.explore-container .button-next {
  opacity: 1;
  width: 8em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.explore-container .button-next-disabled {
  background-color: #e8c2c9;
  opacity: 1;
  width: 8em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-left: 12em;
  pointer-events: none;
}

.explore-container .button-next-disabled:hover {
  background-color: #e8c2c9;
}
