.faq-container .faq-underscore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(39, 37, 37)),
    to(#dee5ef)
  );

  margin-bottom: 0.5em;
  content: "";
  height: 1px;
  display: block;
  box-sizing: border-box;
  width: 4em;
}

.faq-container .faq-header {
  color: rgb(39, 37, 37);
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}

.faq-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.faq-container .fw2 {
  font-weight: 100;
}

.faq-container .mt1 {
  margin-top: 1em;
}
