.filter-container {
  position: sticky;
  top: 0;
}

.filter-container .box {
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.filter-container .google {
  color: #424242;
  font-family: Google Sans;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.0175rem;
  line-height: 0;
}

.filter-container .divider {
  border-left: 17em solid #f0f0f0;
  height: 0.01em;
  margin: 0 auto;
}

.filter-container .mb1-5 {
  margin-bottom: 1.5em;
}

.filter-container .mt0-5 {
  margin-top: 0.5em;
}

.filter-container .ui.disabled.segment {
  opacity: 0.8;
  color: rgba(40, 40, 40, 0.3);
}

.filter-container .letter-spacing-1px {
  letter-spacing: 1px;
}
