.food-event-list-container .box {
  /* box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 0.5em;
  border-radius: 0; */
  box-shadow: 0 0px 0px rgba(10, 10, 10, 0.1), 0 0 0 0px rgba(10, 10, 10, 0.1);
  font-family: "Quicksand", sans-serif;
}

.food-event-list-container .box figure {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.food-event-list-container .box .image {
  width: 200px;
  height: 200px;
}

.food-event-list-container .box .media .media-left {
  margin-right: 0;
}

.food-event-list-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.food-event-list-container .list-title {
  font-weight: 400;
  font-size: 1.6em;
  margin: 0;
  color: black;
}

.food-event-list-container .mb8 {
  margin-bottom: 8px !important;
}

.food-event-list-container .list-subtitle {
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 0.4em;
}

.food-event-list-container .plh1 {
  line-height: 1.7em;
}

.food-event-list-container .button {
  width: 8em;
  height: 2.5em;
}

.food-event-list-container .mb0 {
  margin-bottom: 0;
}

.food-event-list-container .f14 {
  font-size: 14px;
}

.food-event-list-container .lh1-7 {
  line-height: 1.7em;
}

.ribbon {
  width: 140px;
  height: 200px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  background-color: #7fff00;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: black;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -2px;
  top: 20px;
  transform: rotate(-45deg);
}
