.food-offer-list-container .box {
  box-shadow: 0 0px 0px rgba(34, 36, 38, 0.15), 0 0 0 0px rgba(34, 36, 38, 0.15);
  /*  display: block;
  padding: 0.5em;
  border-radius: 0; */
  font-family: "Quicksand", sans-serif;
}

.food-offer-list-container .mb0 {
  margin-bottom: 0;
}

.food-offer-list-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.food-offer-list-container .list-title {
  font-weight: 400;
  font-size: 1.6em;
  margin: 0;
  color: black;
}

.food-offer-list-container .mb8 {
  margin-bottom: 8px !important;
}

.food-offer-list-container .plh1 {
  line-height: 1.7em;
}

.food-offer-list-container .list-subtitle {
  font-weight: 400;
  font-size: 1em;
  margin-top: 0.4em;
}

.food-offer-list-container .f14 {
  font-size: 14px;
}

.food-offer-list-container .lh1-7 {
  line-height: 1.7em;
}

.food-offer-list-container .letter-spacing-1px {
  letter-spacing: 1px;
}
