/* .header-container {
  z-index: 5 !important;
  position: relative !important;
} */

.header-container .button {
  font-weight: 700;
  background-color: transparent;
}

.header-container .call-now-img {
  max-height: 20px;
}

.header-container .call-now-number {
  margin-left: 0.5em;
  font-weight: 700;
}

.header-container .blog-img {
  max-height: 20px;
}

.header-container .blog-text {
  margin-left: 0.5em;
  font-weight: 700;
  cursor: pointer;
}
