.header-container .button {
  font-weight: 700;
  background-color: transparent;
}

.header-container .call-now-img {
  max-height: 20px;
}

.header-container .call-now-number {
  margin-left: 0.5em;
  font-weight: 700;
}

.header-container .blog-img {
  max-height: 20px;
}

.header-container .blog-text {
  margin-left: 0.5em;
  font-weight: 700;
  cursor: pointer;
}

.header-container .navbar-item {
  padding: 0.5rem 0.3rem;
}

.header-container .navbar-item img {
  max-height: 3rem;
}

.header-container #header {
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
}

.header-container .brand-title {
  font-size: 1.5rem;
  color: black;
  transition-duration: 172ms;
  will-change: transform;
  font-family: "Quicksand", sans-serif;
}

.header-container .brand-icon-header {
  margin-right: 1rem;
  transition-duration: 172ms;
  will-change: width, height, margin-right;
}

.header-container .navbar-brand {
  padding-top: 0.3em;
}

.header-container .brand {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.header-container .letter-spacing-1px {
  letter-spacing: 1px;
}

.message {
  background-color: transparent;
}
