.download-section .phone-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.download-section .iphone-wrapper,
.download-section .android-wrapper {
  /* margin-right: -12.5em; */
  /* right: 50%; */
}

picture {
  width: 100%;
}

.download-section {
  position: relative;
  flex-flow: row wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  margin: auto;
  /* width: 112.5em; */
}

.download-section .middle-content {
  flex: 2;
  overflow: hidden;
  margin-top: 13em;
  text-align: center;
}

.download-section .middle-content .title {
  /* font-size: 2.8em; */
  /* line-height: 2.8em; */
  font-size: 2em;
  color: #545454;
  /* font-family: Graphik, Arial, San Fransisco, sans-serif; */
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.download-section .middle-content .line {
  width: 8.2em;
  height: 2px;
  background-color: #ffbb58;
  margin: 0 auto;
}

.download-section .middle-content .subtitle {
  /* height: 4.2em; */
  /* font-size: 1.6em; */
  /* font-size: 1.2em; */
  /* line-height: 1.47; */
  margin-top: 2em;
  color: #7b7b7b;
  /* margin: 2.4em 3.2em 0; */
  font-family: "Quicksand", sans-serif;
}

.download-section .download-links {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.download-section .download-links img {
  /* width: 13.5em; */
  width: 12em;
  /* height: 4em; */
  height: 3em;
  /* margin: 0 0.5em; */
  background: none;
}

.download-section .phone-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.download-section .android-wrapper,
.download-section .iphone-wrapper {
  width: 50em;
  position: absolute;
  overflow: hidden;
  height: 47em;
  /* bottom: -5.8em;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px; */
}

.download-section .android-wrapper div.on-visible,
.download-section .iphone-wrapper div.on-visible {
  width: inherit;
}

.download-section .android-wrapper div.on-visible .image,
.download-section .iphone-wrapper div.on-visible .image {
  /* width: 100%; */
  background: none;
  object-fit: contain;
  /* padding: 4.85em 1.33em 0 1.15em; */
}

.download-section .iphone-wrapper div.on-visible .image {
  /* margin-left: 3em; */
  right: 7em;
}
