.login-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.login-container .modal-card-title {
  font-size: 2rem;
  margin: 0;
}

.login-container .fw2 {
  font-weight: 200;
}

.login-container .button-previous {
  opacity: 1;
  width: 10em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-right: 10em;
  margin-left: 10em;
}

.login-container .spacer.is-1 {
  height: 1rem;
}
/* .login-container .button-previous-disabled {
  background-color: #e8c2c9;
  opacity: 1;
  width: 8em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-left: 12em;
  pointer-events: none;
} */
