.login-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.login-container .modal-card-title {
  font-size: 2rem;
  margin: 0;
}

.login-container .fw2 {
  font-weight: 200;
}

.login-container .button-previous {
  opacity: 1;
  width: 10em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
  /* margin-right: 10em;
  margin-left: 10em; */
}

.login-container .spacer.is-1 {
  height: 1rem;
}

.login-container .modal-card-foot {
  flex-direction: column;
}

.login-container .is-success {
  color: #23d160;
}

.login-container .pointer {
  cursor: pointer;
}

.login-container .control.has-icons-right .icon {
  pointer-events: auto;
}
