.main-list-container .box {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 0.5em;
  border-radius: 0;
  font-family: "Quicksand", sans-serif;
}

.main-list-container .box figure {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.main-list-container .box .image {
  width: 200px;
  height: 200px;
}

.main-list-container .box .media .media-left {
  margin-right: 0;
}

.main-list-container .box .media .media-content .content .subtitle {
  color: #ff3860;
}

.main-list-container .plh1 {
  line-height: 1.7em;
}
.main-list-container .mb8 {
  margin-bottom: 8px !important;
}

.main-list-container .mb-4 {
  margin-bottom: -4px !important;
}

.main-list-container .radius20 {
  border-radius: 20px;
}

.main-list-container .mr24 {
  margin-right: 24px !important;
}

.main-list-container .fw7 {
  font-weight: 700;
}

.main-list-container .pfc4 {
  color: #b2b2b2 !important;
}

/* .main-list-container .pr8 {
  padding-right: 8px !important;
} */

.main-list-container .pl8 {
  padding-left: 8px !important;
}

.main-list-container .package-tag-box {
  text-align: right;
  overflow: hidden;
  height: 56px;
}

.main-list-container .package-tags {
  justify-content: flex-end;
}

.main-list-container .package-tags {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-list-container .package-tags li {
  display: block;
  border-radius: 20px;
  border: 1px solid #b2b2b2;
  font-size: 12px;
  color: #b2b2b2;
  padding: 3px 10px;
  list-style: none;
  margin: 4px;
  line-height: 12px;
  text-align: center;
  height: 20px;
  width: auto;
}

.main-list-container .ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.main-list-container .mb0 {
  margin-bottom: 0 !important;
}

.main-list-container .sfc3 {
  color: #00d1b2;
}

.main-list-container .fw9 {
  font-weight: 900;
}

.main-list-container .f24 {
  font-size: 24px;
}

.main-list-container .flh28 {
  line-height: 28px;
}

.main-list-container .ml8 {
  margin-left: 8px !important;
}

.main-list-container .pfc3 {
  color: #3e3e3e !important;
}

.main-list-container .tdl {
  text-decoration: line-through;
}

.main-list-container .f12 {
  font-size: 12px;
  line-height: 16px;
}

.main-list-container .pb8 {
  padding-bottom: 8px !important;
}

.main-list-container .iblock {
  display: inline-block !important;
}

.main-list-container .rating {
  float: right;
}

.main-list-container .pt0 {
  padding-top: 0;
}

.main-list-container .css-clzwav,
[data-css-clzwav] {
  font-size: 13px !important;
}

.main-list-container .span-flex {
  display: flex;
}

.main-list-container .pt0-5 {
  padding-top: 0.5em;
}

.main-list-container .pb0-5 {
  padding-bottom: 0.5em;
}

.main-list-container .pr2 {
  padding-right: 2em;
}

.main-list-container .google {
  color: #424242;
  /* font-family: Google Sans; */
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.0175rem;
}

.main-list-container .pl0_5 {
  padding-left: 0.5em;
}

/* @import url(https://fonts.googleapis.com/css?family=Lato:700); */

/* common */
.ribbon {
  width: 140px;
  height: 200px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  background-color: #ff3860;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -2px;
  top: 20px;
  transform: rotate(-45deg);
}

/* top right*/
/* .ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
} */

/* bottom left*/
/* .ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
} */

/* bottom right*/
.ribbon-bottom-right {
  /* bottom: 10px; */
  /* right: -10px; */
  /* top: 15.5em; */
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -40px;
  top: 13em;
  /* bottom: 30px; */
  /* transform: rotate(-225deg); */
}
