.order-container .box .image {
  width: 200px;
  height: 200px;
}

.order-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.order-container .order-title {
  font-weight: 600;
}

.order-container .subtitle-title {
  font-size: 1.1em;
}

.order-container .fs1-5 {
  font-size: 1.5em;
}

.order-container .fs1-3 {
  font-size: 1.3em;
}

.order-container .fs1-1 {
  font-size: 1.1em;
}

.order-container .fs1 {
  font-size: 1em;
}

.order-container .fs2 {
  font-size: 2em;
}

.order-container .m0 {
  margin: 0;
}

.order-container .mt2 {
  margin-top: 2px;
}

.order-container .fw2 {
  font-weight: 200;
}

.order-container .plh1 {
  line-height: 1.7em;
}

.order-container .tdl {
  text-decoration: line-through;
}

.order-container .mb0 {
  margin-bottom: 0;
}

.order-container .ml8 {
  margin-left: 8px !important;
}

.order-container .text-align-center {
  text-align: center;
}

.order-container .grey {
  background-color: #ece9e9;
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.order-container .button.is-fullwidth {
  margin-top: 3em;
}

.order-container .DateRangePickerInput__withBorder {
  border-radius: 0px;
}

.order-container .DateInput {
  width: 5em;
}

.order-container .DateInput_input__focused {
  /* width: 5em; */
  border-bottom: 2px solid #ff3860;
}

.order-container .CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #ff3860;
  border: 1px double #ff3860;
  color: #fff;
}

/* .order-container .DayPicker_weekHeader_ul {
  margin-top: -2px;
} */

.order-container .DayPickerKeyboardShortcuts_show__bottomRight::before {
  bottom: 0px;
  right: 0px;
  border-top: 26px solid transparent;
  border-right: 33px solid #ff3860;
}

/* .order-container .order-button {
  background-color: #ff3860;
  color: white;
  opacity: 1;
  width: 17.2em;
  height: 2.5em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
} */

span {
  content: "\0024";
}
