.overview-container .ff {
  font-family: "Quicksand", sans-serif;
}

.overview-container .f1-1 {
  font-size: 1.1em;
}

.overview-container .box {
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.overview-container .google {
  color: #424242;
  /* font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif; */
  font-family: Lato, sans-serif !important;
}

.overview-container .partner-title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.0175rem;
}
.overview-container .radius20 {
  border-radius: 20px;
}

.overview-container .fw7 {
  font-weight: 700;
}

.overview-container .fw2 {
  font-weight: 200;
}

.overview-container .ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.overview-container .pl0_5 {
  padding-left: 0.5em;
}

.overview-container .cuisine-title {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.0175rem;
}

.overview-container .package-tags {
  justify-content: flex-start;
}

.overview-container .package-tags {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.overview-container .package-tags li {
  display: block;
  border-radius: 20px;
  border: 1px solid #b2b2b2;
  font-size: 12px;
  color: #333232;
  background-color: #ece9e9;
  padding: 3px 10px;
  list-style: none;
  margin: 4px;
  line-height: 12px;
  text-align: center;
  height: 20px;
  width: auto;
}

.overview-container .ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.spacer .is-3 {
  height: 3rem;
}

.overview-container .fz1 {
  font-size: 1em;
}

.overview-container .pfc4 {
  color: #676363 !important;
}

.overview-container .ffqs {
  font-family: "Quicksand", sans-serif;
}

.overview-container .fw2 {
  font-weight: 100;
}

.overview-container .ls {
  letter-spacing: 0.0175rem;
}
