.ffqs {
  color: #424242;
  font-family: "Quicksand", sans-serif;
}

.parent-detail-title {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.0175rem;
  color: black;
}

.parent-detail-sub-title {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.0175rem;
}

.mt0-1 {
  margin-top: 0.1em;
}

.mb0-4 {
  margin-bottom: 0.4em;
}

.tabs li.is-active a {
  border-bottom-color: #4a4a4a;
  color: #4a4a4a;
}

.show-more-text {
  cursor: pointer;
  color: #ff3860;
  font-weight: bold;
}

.js-show-less-text .show-more-text {
  padding-left: 10px;
}
