@media only screen and (max-width: 426px) {
  .tiletext {
    font-size: 0.8em !important;
  }
}

@media only screen and (max-width: 640px) {
  .popular_section {
    padding: 10px;
  }

  .tilecontainer {
  }
}

.tilecontainer {
}

.tiletext {
  /* vertical-align: middle;
  text-align: center; */
  color: white;
  /* padding: 5px; */
  /* margin-top: 190px; */
  margin-top: 7em;
  -webkit-text-stroke: 0.01em white;
  text-stroke: 0.01em white;
  /* font-size: 1.2em; */
  font-size: 120%;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  /* bottom: 100px; */
}

.tiletext-hover {
  /* cursor: pointer; */
  /* padding: 5px;
  background-color: white;
  vertical-align: middle;
  text-align: center;
  color: black;
  margin-top: 190px;
  -webkit-text-stroke: 0.01em white;
  text-stroke: 0.01em white;
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  bottom: 100px; */
}

.tiletext:hover {
  cursor: pointer;
}

.t1 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.5s ease;
  display: inline-block;
  object-fit: cover;
}

.t1:hover {
  transform: scale(1.1);
  -webkit-filter: blur(0.2em);
  filter: blur(0.2em);
  cursor: pointer;
}

.t2 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all 0.5s ease;
  background-position: center;
  overflow: hidden;
  object-fit: cover;
}

.t2:hover {
  /* -webkit-filter: grayscale(50%); 
  filter: grayscale(50%); */
  -webkit-filter: blur(0.2em);
  filter: blur(0.2em);
  transform: scale(1.1);
  cursor: pointer;
}

.t3 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.5s ease;
  background-position: center left;
  overflow: hidden;
  object-fit: cover;
}

.t3:hover {
  -webkit-filter: blur(0.2em);
  filter: blur(0.2em);
  transform: scale(1.1);
  cursor: pointer;
}

.t4 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.5s ease;
  object-fit: cover;
}

.t4:hover {
  -webkit-filter: blur(0.2em);
  filter: blur(0.2em);
  transform: scale(1.1);
  cursor: pointer;
}

.t5 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.5s ease;
  object-fit: cover;
}

.t5:hover {
  -webkit-filter: blur(0.2em);
  filter: blur(0.2em);
  transform: scale(1.1);
  cursor: pointer;
}

.t6 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.5s ease;

  object-fit: cover;
}

.t6:hover {
  -webkit-filter: blur(0.2em);
  filter: blur(0.2em);
  transform: scale(1.1);
  cursor: pointer;
}

.t7 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.5s ease;
  object-fit: cover;
}

.t7:hover {
  -webkit-filter: blur(0.2em);
  filter: blur(0.2em);
  transform: scale(1.1);
  cursor: pointer;
}

.t8 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.5s ease;
  object-fit: cover;
}

.t8:hover {
  -webkit-filter: blur(0.2em);
  filter: blur(0.2em);
  transform: scale(1.1);
  cursor: pointer;
}

.popular-header-container {
  margin-bottom: 1em;
}

.popular-header {
  color: black;
  font-size: 23px;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}

.popular-header-container .underscore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(39, 37, 37)),
    to(#dee5ef)
  );
  margin-top: 0.5em;
  content: "";
  height: 1px;
  display: block;
  box-sizing: border-box;
  width: 90px;
  margin-bottom: 2em;
}
