.search-container {
  width: auto;
  height: 12em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search-container .column .button {
  height: 3em;
  width: 8em;
}

.search-container .column {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 769px) {
  .search-container .column.is-2,
  .column.is-2-tablet {
    flex: none;
    width: auto;
  }
}

.search-container .container {
  padding: 4em;
}

@media only screen and (max-width: 1024px) {
  .search-container .column .button {
    margin-left: 40%;
    margin-right: 40%;
  }

  .search-container .column {
    background: none;
  }
}

@media only screen and (max-width: 769px) {
  .search-container .container {
    padding-top: 0;
  }

  .search-container {
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .search-container .column .button {
    margin-left: 30%;
    margin-right: 30%;
  }
}

.search-container .ui.search.dropdown > .text {
  margin-top: 0.5em;
}
