.slidder-container .hero .carousel {
  height: 400px;
  /* object-fit: cover */
  background-repeat: no-repeat;
  background-size: auto;
}

.slidder-container .hero .slick-list {
  height: 400px;
}

.Search .container {
  bottom: 25px;
}

.Search .button {
  width: 8em;
  height: 2.6em;
}

.slidder-container .ui.search.dropdown > .text {
  top: 0.4em;
}
