.slidder-banner-container .carousel {
  height: 170px;
  background-repeat: no-repeat;
  background-size: auto;
  /* object-fit: cover; */
}

.slidder-banner-container .slick-list {
  height: 170px;
}

.slidder-banner-container {
  margin-bottom: 1em;
}
