.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.slick-slide {
  width: 0px;
}

.slick-active {
  width: 0px;
}

.trending-container .trending-header-container .trending-header {
  color: black;
  font-size: 23px;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}

.trending-container .underscore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(39, 37, 37)),
    to(#dee5ef)
  );
  margin-top: 0.5em;
  content: "";
  height: 1px;
  display: block;
  box-sizing: border-box;
  width: 90px;
}

.trending-container .trending-card:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1 !important;
  cursor: pointer;
}

.trending-container .trending-card {
  cursor: pointer;
}

.trending-container .city-title {
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.7;
  text-decoration: none;
  pointer-events: none;
}

.trending-container .product-title {
  margin-top: 0.5em;
  line-height: 1.5;
  font-size: 1em !important;
  color: #575454;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  display: inline-block;
}

.trending-container .trending-header-container {
  margin-bottom: 1em;
}

.trending-container .letter-spacing-1px {
  letter-spacing: 1px;
}



.trending-container .slick-list {
  padding-left: 0.5em;
}

.trending-container .ribbon {
  width: 140px;
  height: 210px;
  overflow: hidden;
  position: absolute;
}
.trending-container .ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.trending-container .ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  background-color: #ccff00;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: black;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.trending-container .ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.trending-container .ribbon-top-left::before {
  top: 0;
  right: 0;
}
.trending-container .ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.trending-container .ribbon-top-left span {
  right: -2px;
  top: 20px;
  transform: rotate(-45deg);
}

/* 
.ribbon-bottom-right {
   bottom: 10px; 
  right: -10px;
 top: 15.5em; 
} */
.trending-container .ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.trending-container .ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}

.trending-container .ribbon-bottom-right::after {
  top: 0;
  right: 0;
}

.trending-container .ribbon-bottom-right span {
  left: -40px;
  top: 13em;
  /* bottom: 30px; */
  /* transform: rotate(-225deg); */
}
