.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.slick-slide {
  width: 0px;
}

.slick-active {
  width: 0px;
}

.trending-container .trending-header-container .trending-header {
  color: rgb(39, 37, 37);
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}

.trending-container .underscore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(39, 37, 37)),
    to(#dee5ef)
  );
  margin-top: 0.5em;
  content: "";
  height: 1px;
  display: block;
  box-sizing: border-box;
  width: 5em;
}

.trending-container .trending-card:hover {
  /* transform: scale(1.04); */

  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transform: scale(1.1);

  /* opacity: 1 !important; */
  cursor: pointer;
}

.trending-container .trending-card {
  cursor: pointer;
}

.trending-container .city-title {
  text-transform: uppercase;
  color: #9a9a9a;
  /* margin-top: 0.5em;
  margin-bottom: 0.2em; */
  font-weight: 500;
  opacity: 0.7;
  text-decoration: none;
  pointer-events: none;
  font-size: 0.7em;
}

.trending-container .product-title {
  line-height: 1.5;
  font-size: 0.9em !important;
  color: #545454;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  display: inline-block;
}

.trending-container .trending-header-container {
  margin-bottom: 1em;
}
