.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.slick-slide {
  width: 0px;
}

.slick-active {
  width: 0px;
}

.trending-list-container .trending-list-header-container .trending-list-header {
  color: black;
  font-size: 28px;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}

.trending-list-container .underscore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(39, 37, 37)),
    to(#dee5ef)
  );
  margin-top: 0.5em;
  content: "";
  height: 1px;
  display: block;
  box-sizing: border-box;
  width: 90px;
}

.trending-list-container .trending-list-card:hover {
  /* transform: scale(1.04); */

  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  /* transform: scale(1.1); */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.35); */

  opacity: 1 !important;
  cursor: pointer;
}

.trending-list-container .trending-list-card {
  cursor: pointer;
}

.trending-list-container .city-title {
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;

  opacity: 0.7;
  text-decoration: none;
  pointer-events: none;

  /* color: black;
  font-size: 0.9em; */
}

.trending-list-container .trending-list-header-container {
  margin-bottom: 1em;
}

.trending-list-container .slick-list {
  padding-left: 0.4em;
}

.trending-list-container .ui.card > .content {
  padding: 1.5em;
}

.trending-list-container .letter-spacing-1px {
  letter-spacing: 1px;
}
